doctype html
html(lang="pl-PL")
    head
        meta(charset="utf-8")
        title Parallax
        meta(name="description", content="")
        meta(name="author", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon", type="image/png", href="img/favicon.png")

        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/app.js")
    body

        header.bird-box
            .back-bird
            .logo
            .fore-bird


        section.content

            article

                h1 Unikalny styl

                hr

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, non commodi veritatis a at cumque sed quam, minus, nulla architecto eum nisi id vel eos doloremque officiis incidunt adipisci. Quaerat.

                hr

            .container
                .clothes-pics
                    .row.mb-4
                        .col-md-4
                            figure
                                img(src="img/model1.jpg", alt="")
                                figcaption BlackBird Sweater - <strong>$135</strong>
                        .col-md-4    
                            figure
                                img(src="img/model2.jpg", alt="")
                                figcaption BlackBird Jacket - <strong>$135</strong>
                        .col-md-4
                            figure
                                img(src="img/model3.jpg", alt="")
                                figcaption BlackBird Trousers - <strong>$135</strong>
                    .row.mb-4            
                        .col-md-4
                            figure
                                img(src="img/model1.jpg", alt="")
                                figcaption BlackBird Sweater - <strong>$135</strong>
                        .col-md-4    
                            figure
                                img(src="img/model2.jpg", alt="")
                                figcaption BlackBird Jacket - <strong>$135</strong>
                        .col-md-4
                            figure
                                img(src="img/model3.jpg", alt="")
                                figcaption BlackBird Trousers - <strong>$135</strong>
                    .row.mb-4            
                        .col-md-4
                            figure
                                img(src="img/model1.jpg", alt="")
                                figcaption BlackBird Sweater - <strong>$135</strong>
                        .col-md-4    
                            figure
                                img(src="img/model2.jpg", alt="")
                                figcaption BlackBird Jacket - <strong>$135</strong>
                        .col-md-4
                            figure
                                img(src="img/model3.jpg", alt="")
                                figcaption BlackBird Trousers - <strong>$135</strong>



            article

                h1 Sklep z ciuchami

                hr

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, non commodi veritatis a at cumque sed quam, minus, nulla architecto eum nisi id vel eos doloremque officiis incidunt adipisci. Quaerat.

                hr

            .container
                .row
                    .large-window
                        .window-tint
                            .promo-text Fall suits
                                strong  <span>from</span> $99
                                a(href="#").window-cta Shop Now